@model Scrum.Models.UserStory

<!doctype html>

<html lang="en">
<head>
    <link href="~/css/NewFolder/Ajax.css" rel="stylesheet" />
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.LabelFor(model => model.Spec)
        @Html.EditorFor(model => model.Spec)

        <input type="submit" value="Submit User Story" />
    }
</body>
</html>