body {
    a{
    color: white;
    &:hover{
        text-decoration: none;
        color: white;
    }
}
}

/*.projectInfo{
    border: black solid 1px;
}

.teamInfo{
    border: red solid 1px;
}*/

.view{
    a{
        color: black;
    }
}
.pilly{
    background-color: pink;
}
#Beef{
    background-color: black;
}