@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Security.Claims

<h2>Authentication with Identity</h2>
<hr />
@if (User.Identity.IsAuthenticated)
{
    <p>Hello @User.Identity.Name!</p>
    @using (Html.BeginForm("LogOff", "Account"))
    {
        @Html.ActionLink("test UIKIT", "UIKitTest")
        <input type="submit" class="btn btn-default" value="Log out" />
    }
}
else
{
    <button type="button" id="register">Register</button>
    <button type="button" id="login">Login</button>
}

<div id="accessForm"></div>