@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Security.Claims

@if (User.Identity.IsAuthenticated)
{
    <div class="uk-width-1-2" style="height: auto;margin: 0 auto;padding: 10px;position: relative;">
        <div class="uk-card uk-card-default uk-card-body uk-text-center">
            <h1>@User.Identity.Name</h1>
            @using (Html.BeginForm("LogOff", "Account"))
            {
                <input type="submit" class="btn btn-default" value="Log out" />
            }
        </div>
    </div>
}
else
{
    <div class="uk-width-1-2" style="height: auto;margin: 0 auto;padding: 10px;position: relative;">
        <div class="uk-card uk-card-default uk-card-body uk-text-center">
             <h1>Scrum Project</h1>
            <button type="button" id="register">Register</button>
            <button type="button" id="login">Login</button>
        </div>
    </div>
}

<div id="accessForm"></div>