@model Scrum.Models.Update

<!doctype html>

<html lang="en">
<head>
    <link href="~/css/NewFolder/Ajax.css" rel="stylesheet" />
</head>
<body>

    @using (Html.BeginForm())
    {
        @Html.LabelFor(model => model.Note)
        @Html.EditorFor(model => model.Note)

        @Html.DropDownList("UpdateTypeId")

        <input type="submit" value="Add Update" />
    }
</body>
</html>