@model Scrum.Models.Update

<!doctype html>

<html lang="en">
<head>
    <link href="~/css/NewFolder/Ajax.css" rel="stylesheet" />
</head>
<body>
    <br />
    <br />
    @using (Html.BeginForm())
    {
        <div style="">
            @Html.EditorFor(model => model.Note)
            <br />
            @Html.DropDownList("UpdateTypeId")

            <input type="submit" value="Add Update" />
        </div>
    }
</body>
</html>