.tooltype-1 {
  background-color: red; }

.tooltype-2 {
  background-color: blue; }

.tooltype-3 {
  background-color: green; }

.tooltype-4 {
  background-color: orange; }

.tooltype-5 {
  background-color: purple; }

