.tooltype-1{
    background-color: lightcoral;
}
.tooltype-2{
    background-color: lightcyan;
}
.tooltype-3{
    background-color: lightgreen;
}
.tooltype-4{
    background-color: lightsalmon;
}
.tooltype-5{
    background-color: mediumpurple;
}
.tooltype-6{
    background-color: lightpink;
}
.tooltype-7{
    background-color: lightgoldenrodyellow;
}
.tooltype-8{
    background-color: lightblue;
}
.tooltype-9{
    background-color: lightslategray;
}
.view{
    background-color: red;
}