@model Scrum.Models.Sprint
<!doctype html>

<html lang="en">
<head>
    <link href="~/css/NewFolder/Ajax.css" rel="stylesheet" />
</head>
<body>
    <div class="page">
        @using (Html.BeginForm())
        {
            <p>Sprint Name</p>
            @Html.TextBoxFor(model => model.Name)
            <p>Sprint Goal</p>
            @Html.TextBoxFor(model => model.Goal)
            <p>Start Date</p>
            @Html.EditorFor(model => model.StartDate)
            <p>End Date</p>
            @Html.EditorFor(model => model.EndDate)
            <input type="submit" value="Add New Sprint" />
        }
    </div>
</body>
</html>