@model Scrum.Models.Sprint

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Sprint Details</h2>
<h3>@Model.Name</h3>
<h3>@Model.Goal</h3>
<h3>@Model.StartDate</h3>
<h3>@Model.Goal</h3>


